:root {
  --fondoPrincipal: #EBE5CE;
  --white: #FFFFFF;
  --sustitulos: #0B118E;
  --titulos: #8C162A;
  --negroBajito: #2C2C2C;
  --formularios: #BAD1C9;
  --botones: #e03652;
  --grisBotones: #585858;
  --error: #ff0000;
  --links: #002fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: var(--fondoPrincipal);
  line-height: 1.6;
}
.menu {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.menu ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  align-items: center;
}
.menu-item {
  display: flex;
  gap: 20px;
}
.menu-item a {
  display: flex;
  color: #000000;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  font-size: 1rem;
}
.menu-item a:hover {
  color: #FFFFFF;
  background-color: var(--titulos);
  transition: all 0.3s ease;
}
.menu-item:hover .dropdown-content {
  display: block;
}
.logo {
  margin-right: 30px;
  margin-left: 20px;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding-right: 1rem;
}
.auth-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
#btn-register,
#btn-login {
  padding: 14px 16px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}
#btn-register {
  background: var(--negroBajito);
}
#btn-register:hover {
  background: var(--grisBotones);
  transition: all 0.3s ease;
}
#btn-login {
  background: var(--titulos);
}
#btn-login:hover {
  background: var(--botones);
  transition: all 0.3s ease;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  max-width: 100%;
  width: 100%;
}
.content-wrapper .content1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
  background: var(--negroBajito);
  padding: 1rem;
  color: #FFFFFF;
  border-radius: 1rem;
  align-items: center;
}
.content-wrapper .content1 .illustration3 {
  flex: 1;
  max-width: 525px;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-top: 2rem;
}
.content-wrapper .content1 .principal {
  text-align: center;
}
.content-wrapper .content2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
  background: var(--titulos);
  padding: 1rem;
  color: #FFFFFF;
  border-radius: 1rem;
  align-items: center;
}
.content-wrapper .content2 .illustration4 {
  flex: 1;
  max-width: 525px;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-top: 2rem;
}
.content-wrapper .content2 .principal {
  text-align: center;
}
.content-wrapper .titleQS {
  flex: 1;
  font-size: 64px;
  color: var(--titulos);
  padding-bottom: 1rem;
}
.content-wrapper .titleP {
  font-size: 64px;
  color: var(--titulos);
  padding-bottom: 1rem;
  text-align: center;
}
.content-wrapper .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}
.content-wrapper .content .title {
  flex: 1;
  font-size: 64px;
  color: #000000;
  padding-bottom: 1rem;
}
.content-wrapper .content .titleQS {
  flex: 1;
  font-size: 64px;
  color: var(--titulos);
  padding-bottom: 1rem;
}
.content-wrapper .principal {
  flex: 1;
  font-size: 27px;
}
.content-wrapper .illustration {
  flex: 1;
  max-width: 525px;
  width: 100%;
  height: auto;
}
.content-wrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  max-width: 100%;
  width: 100%;
  background-color: #00808B;
  color: var(--white);
}
.content-wrapper2 .illustration2 {
  flex: 1;
  max-width: 525px;
  width: 100%;
  height: auto;
}
.usos .container {
  width: 100%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}
.usos h1 {
  font-size: 35px;
  color: var(--sustitulos);
  text-align: center;
  margin-bottom: 40px;
}
.usos .benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.usos .benefit {
  width: calc(20% - 20px);
  margin-bottom: 30px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.usos .icon {
  font-size: 48px;
  margin-bottom: 15px;
}
.usos h3 {
  color: #000000;
  margin-top: 0;
}
.usos p {
  font-size: 14px;
  line-height: 1.4;
}
.reseñas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  padding: 1rem 1rem;
}
.reseñas h1 {
  font-size: 35px;
  color: var(--sustitulos);
  text-align: center;
  margin-bottom: 1rem;
}
.reseñas p {
  text-align: center;
  max-width: 1000px;
  margin-bottom: 2rem;
}
.reseñas .review {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.reseñas .review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.reseñas .stars {
  color: #ffd700;
}
.reseñas form {
  max-width: 1500px;
  /* Reducir el ancho máximo del formulario */
  width: 100%;
  /* Asegurar que ocupe todo el ancho disponible hasta el max-width */
  border-radius: 10px;
  padding: 2rem;
  background: var(--formularios);
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.reseñas input,
.reseñas textarea,
.reseñas select {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.reseñas button {
  padding: 5px 10px;
  background-color: var(--negroBajito);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 1rem 3rem;
}
.reseñas button:hover {
  background: var(--titulos);
  transition: all 0.3s ease;
}
.final {
  margin-top: 40px;
  text-align: center;
  align-items: center;
}
.final h1 {
  font-size: 64px;
  color: #000000;
  text-align: center;
  margin-bottom: 1rem;
}
.final button {
  margin-top: 30px;
  background: var(--titulos);
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 1rem 3rem;
}
.final button:hover {
  background: var(--negroBajito);
  transition: all 0.3s ease;
}
.footer {
  margin-top: 50px;
  width: 100%;
  background: var(--white);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
}
.footer-text {
  font-size: 14px;
  color: #333;
}
.social-icons {
  display: flex;
  gap: 10px;
}
.social-icons a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
}
.container1 {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.toggle-buttons button {
  padding: 10px 20px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
}
.toggle-buttons button.active {
  background-color: #bbb;
}
.pricing-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 700px;
  padding: 1rem;
  margin: 0.7rem;
  border-radius: 0.5rem;
  color: white;
}
.card h2 {
  font-size: 24px;
  margin-top: 0;
  text-align: center;
}
.card ul {
  list-style-type: none;
  padding: 0;
}
.card li {
  margin-bottom: 10px;
}
.card p {
  font-size: 48px;
  text-align: center;
}
.card button {
  margin-top: 1rem;
  display: block;
  width: 100%;
  padding: 10px;
  background: var(--white);
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.card .price {
  font-size: 2em;
  font-weight: bold;
}
.card.red {
  background: var(--titulos);
}
.card.dark {
  background: var(--negroBajito);
}
.hidden {
  display: none;
}
.container2 {
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  padding: 1rem 1rem;
  margin: 40px auto;
  border-radius: 1rem;
}
.container2 .my-form {
  max-width: 1500px;
  width: 100%;
  border-radius: 10px;
  padding: 2rem;
  background: var(--formularios);
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.container2 .my-form input[type="text"],
.container2 .my-form input[type="email"],
.container2 .my-form textarea {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: #000000;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  line-height: 2rem;
  height: 2rem;
  outline: 0;
  border: 0;
  width: 100%;
  vertical-align: middle;
  padding-bottom: 0.7rem;
  border-bottom: 3px solid var(--titulos);
  background: transparent;
  transition: border-color 0.2s;
}
.container2 .my-form a {
  display: flex;
  color: #000000;
  padding-top: 1rem;
}
.container2 .my-form a:visited {
  color: var(--sustitulos);
}
.container2 .my-form a:hover {
  color: var(--links);
  transition: all 0.3s ease-in-out;
}
/* Estilos para el varios formularios (Login, Registro) */
.login-welcome-row {
  margin-bottom: 1rem;
  text-align: center;
}
.welcome-message {
  max-width: 24rem;
}
#my-form-login,
#my-form-registro {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  gap: 1rem;
  background: var(--white);
  width: 100%;
  max-width: 32rem;
  padding: 3rem 2rem;
  border-radius: 2rem;
  height: fit-content;
  margin: 40px auto;
}
.input_wrapper {
  position: relative;
  padding: 0.9375rem 0 0;
  margin-bottom: 0.5rem;
}
.input_field {
  font-size: 1.5rem;
  color: #000000;
  padding: 0.375rem 0;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  line-height: 2rem;
  height: 2rem;
  outline: 0;
  border: 0;
  width: 100%;
  vertical-align: middle;
  padding-bottom: 0.7rem;
  border-bottom: 3px solid var(--titulos);
  background: transparent;
  transition: border-color 0.2s;
}
.input_field::placeholder {
  color: transparent;
}
.input_field:placeholder-shown ~ .input_label {
  cursor: text;
  color: var(--text);
  top: 0.8rem;
  font-size: 1.2rem;
}
.input_label {
  user-select: none;
}
.input_label,
.input_label .input_field:focus ~ .input_label {
  position: absolute;
  top: -0.8rem;
  display: block;
  font-size: 1.2rem;
  color: #000000;
  transition: 0.3s;
}
.input_field:focus ~ .input_label {
  color: var(--titulos);
}
.input_field:focus {
  border-bottom: 3px solid var(--negroBajito);
}
.input_field:focus ~ svg {
  stroke: var(--formularios);
}
.my-form_actions a {
  color: var(--negroBajito);
  font-weight: 600;
  text-decoration: none;
}
.my-form_actions a:hover {
  text-decoration: underline;
}
.my-form_row {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  margin-top: 2rem;
}
.my-form_row a:hover {
  color: var(--links);
  transition: all 0.3s ease;
}
.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #000000;
  text-decoration-color: var(--titulos);
}
.page-link a:hover {
  color: var(--links);
  transition: all 0.3s ease;
}
.page-link-label {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-weight: 700;
}
.page-link-label:hover {
  color: var(--titulos);
}
.my-form_button {
  background: var(--negroBajito);
  color: white;
  white-space: nowrap;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  line-height: 3.125rem;
  outline: none;
  font-size: 1.125rem;
  letter-spacing: 0.025rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  min-height: 3.125rem;
  width: 100%;
  border-radius: 10rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.my-form_button:hover {
  background: var(--titulos);
}
.dropbox {
  font-size: 1.5rem;
  color: #000000;
  padding: 0.375rem 0;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  line-height: 2rem;
  height: 3rem;
  outline: 0;
  border: 0;
  width: 100%;
  vertical-align: middle;
  padding-bottom: 0.7rem;
  border-bottom: 3px solid var(--titulos);
  background: transparent;
  transition: border-color 0.2s;
}
.error {
  color: var(--error);
}
.escondido {
  display: none;
}
/* Estilos Responsivos */
/* Tamaños grandes (por encima de 1200px) */
@media (min-width: 1200px) {
  .content-wrapper {
    padding: 2rem;
  }
  .content-wrapper2 {
    padding: 2rem;
  }
  .content .title {
    font-size: 64px;
  }
  .content .titleQS {
    font-size: 64px;
  }
  .content .principal {
    font-size: 27px;
  }
}
/* Pantallas medianas (768px - 1200px) */
@media (min-width: 768px) and (max-width: 1199px) {
  .content-wrapper {
    align-items: center;
    width: 100%;
  }
  .content-wrapper2 {
    align-items: center;
    width: 100%;
  }
  .content-wrapper .content .title {
    font-size: 2rem;
  }
  .content-wrapper .content .titleQS {
    font-size: 2rem;
  }
  .content-wrapper .content1 .titleQS {
    font-size: 2rem;
  }
  .content-wrapper .content2 .titleQS {
    font-size: 2rem;
  }
  .content-wrapper .content .principal {
    font-size: 1.375rem;
  }
  .content-wrapper .illustration {
    width: 300px;
    margin-left: 0;
  }
  .content-wrapper2 .illustration2 {
    width: 300px;
    margin-left: 0;
  }
  .reseñas h1 {
    font-size: 2rem;
  }
  .reseñas p {
    font-size: 1.375rem;
  }
  .final h1 {
    font-size: 3.5rem;
  }
  .usos .container h1 {
    font-size: 2rem;
  }
  .usos .container h3 {
    font-size: 1rem;
  }
  .usos .container p {
    font-size: 0.8rem;
  }
  .menu-item img {
    width: 4rem;
    height: auto;
  }
}
/* Pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    padding: 1rem;
    margin-left: 20px;
    width: 92%;
    margin-top: 50px;
    /* Ajustar para dispositivos pequeños */
  }
  .content-wrapper2 {
    flex-direction: column;
    padding: 1rem;
    margin-left: 20px;
    width: 92%;
    margin-top: 50px;
    /* Ajustar para dispositivos pequeños */
  }
  .content-wrapper .content2 {
    margin-top: 1rem;
  }
  .content-wrapper .content .title {
    font-size: 1.5rem;
  }
  .content-wrapper .content .titlep {
    font-size: 1.5rem;
  }
  .content-wrapper .content .titleQS {
    font-size: 1.5rem;
  }
  .content-wrapper .content .principal {
    font-size: 1rem;
  }
  .content-wrapper .titleQS {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .content-wrapper .content1 .principal {
    font-size: 1rem;
  }
  .content-wrapper .content2 .principal {
    font-size: 1rem;
  }
  .content-wrapper .illustration {
    width: 200px;
  }
  .content-wrapper2 .illustration2 {
    width: 200px;
  }
  .content-wrapper .illustration3 {
    width: 200px;
  }
  .content-wrapper .illustration4 {
    width: 200px;
  }
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-item a {
    padding: 0.5rem;
    font-size: 0.9rem;
    width: 100%;
    margin-top: 1rem;
  }
  .auth-buttons {
    width: 100%;
    justify-content: flex-end;
    /* Alinea los botones al final en pantallas pequeñas */
  }
  .reseñas form {
    max-width: 90%;
  }
  .reseñas h1 {
    font-size: 1.5rem;
  }
  .reseñas p {
    font-size: 1rem;
  }
  .final h1 {
    font-size: 1.5rem;
  }
  .container .benefit {
    width: calc(50% - 20px);
  }
  .menu-item img {
    width: 3.125rem;
    height: auto;
  }
  #btn-login,
  #btn-register {
    width: 0.625rem 0.75rem;
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .menu-item {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
  }
  .menu-item.active {
    display: flex;
  }
  .auth-buttons {
    margin-top: 1rem;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .benefit {
    width: 100%;
  }
}
